GEMINI_API_KEY=your_api_key
MONNIFY_API_KEY=your_api_key
MONNIFY_SECRET_KEY=your_api_key
MONNIFY_CONTRACT_CODE=your_code
MONNIFY_WEBHOOK_SECRET=your_webhook
MONNIFY_WALLET_ACCOUNT_NUMBER=your_number
FRONTEND_URL=your_url
PORT=5000
